<div class="has-submenu">
    <a href="#">Histoire</a>
    <div class="submenu">
        {% for timeline in timelines %}
            <a href="{{ path('timeline_show', {name: timeline.name}) }}">
                {{ timeline.name }}
            </a>
        {% endfor %}
    </div>
</div>