{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - 17/08/2024{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mb-3">Temps restant avant le jour J : {{ daysLeft }} jours !</h2>
    <div class="progress" aria-valuenow="{{ 100 - ( daysLeft / 365 * 100 ) }}" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: {{ 100 - ( daysLeft / 365 * 100 ) }}%"></div>
    </div>
    <hr />
    <p>
        En attendant le jour du mariage, retrouvez ici toutes les informations utiles.<br />
        Ce site sera tenu à jour jusqu'au jour du mariage, puis vous pourrez retrouver ou ajouter vos photos (disponible prochainement).<br />
        N'hésitez pas à revenir souvent pour être au courant de l'organisation ou des dernières nouveautés !<br />
        Vous pouvez aussi nous confirmer votre présence (ou votre absence) ou votre participation à certaines activités qui demandent une organisation en amont.
    </p>
</div>
    
{% endblock %}
